.poster {
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-image: linear-gradient(0deg, #000, 10%, transparent);

    // img {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }
    figcaption{
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #fff;
    }
}