<div class="row">
    <div class="col-md-12 mt-4 mt-md-0">
        <figure [ngStyle]="{
                    'background-image': 'linear-gradient(0deg, #000 10%, transparent), url(' + movieObj.poster +')'
                }" class="poster mb-0">
            <!-- <img [src]="movieObj.poster" [alt]="movieObj.movieName" [title]="movieObj.movieName"> -->
            <figcaption>
                <p class="m-0"><strong>Release Year:</strong> {{movieObj.releaseYear}}</p>
                <p class="m-0"><strong>Movie Status:</strong> {{movieObj.movieStatus}}</p>
                <p class="m-0"><strong>Genre:</strong> {{movieObj.genre}}</p>
            </figcaption>
        </figure>
        <div class="p-2">
            <p>{{movieObj.description}}</p>
        </div>
        <div>
            <button (click)="redirectToEdit()" routerLink="edit" class="mr-3" mat-raised-button
                color="primary">Edit</button>
            <button (click)="onRemoveMovie()" mat-raised-button color="warn">Remove</button>
        </div>
    </div>
</div>