.poster {
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    figcaption{
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #fff;
    }
}